<!-- hero area -->
<div class="container-lg home_2_hero_wrp">
  <div class="home_2_hero">
    <div class="container">
      <div class="hero_slider_active">
        <div class="single_hero_slider bg-3">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-sm-7">
                <div class="hero_content text-center text-sm-start">
                  <p>Igualdad de Oportunidades</p>
                  <h1>Transparencia y Confiabilidad</h1>
                  <!--
                  <div class="price">
                    <span class="org_price">$450.00</span>
                    <span class="prev_price">$550.45</span>
                  </div>
                  -->
                  <div class="hero_btn">
                    <a class="default_btn rounded" routerLink="/auction"
                      >Ver Productos ...</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-sm-5 d-none d-sm-block">
                <div class="hero_img">
                  <img
                    loading="lazy"
                    src="assets/images/alianza/1.jpg"
                    alt="phone"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single_hero_slider bg-1">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <div class="hero_content text-center text-sm-start">
                  <p>Productos a precios más bajos</p>
                  <h1>Precio Atractivos</h1>
                  <!--
                  <div class="price">
                    <span class="org_price">$450.00</span>
                    <span class="prev_price">$550.45</span>
                  </div>
                  -->
                  <div class="hero_btn">
                    <a
                      class="default_btn rounded"
                      href="shop-grid.html"
                      routerLink="/auction"
                      >Ver Productos ...</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-6 d-none d-sm-block">
                <div class="hero_img">
                  <img
                    loading="lazy"
                    src="assets/images/alianza/2.jpg"
                    alt="phone"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single_hero_slider bg-2">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-sm-6">
                <div class="hero_content text-center text-sm-start">
                  <p>Amplia gama de productos asegurados</p>
                  <h1>Oportunidades Únicas</h1>
                  <!--
                  <div class="price">
                    <span class="org_price">$450.00</span>
                    <span class="prev_price">$550.45</span>
                  </div>
                  -->
                  <div class="hero_btn">
                    <a
                      class="default_btn rounded"
                      href="shop-grid.html"
                      routerLink="/auction"
                      >Ver Productos ...</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-6 d-none d-sm-block">
                <div class="hero_img">
                  <img
                    loading="lazy"
                    src="assets/images/alianza/3.jpg"
                    alt="phone"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
