<!-- recomended -->
<section class="new_arrive section_padding_b">
  <div class="container">
    <div class="d-flex align-items-start justify-content-between">
      <h2 class="section_title_2">Productos Ofertados</h2>
      @if (router.url === '/home' || router.url === '/') {
      <div class="seemore_2 pt-2">
        <a routerLink="/auction"
          >Ver más... <span><i class="las la-angle-right"></i></span
        ></a>
      </div>
      }
    </div>
    <div class="row gy-4">
      <div
        *ngFor="let product of products"
        class="col-lg-3 col-sm-6"
      >
        <div class="single_new_arrive">
          <div class="sna_img">
            <img
              loading="lazy"
              class="prd_img"
              src="{{ url_base + product.images[0] }}"
              alt="product"
            />
            <span class="tag">{{ product.category }}</span>
            <div class="prodcut_hovcont">
              <a
                routerLink="/auction/{{ product.id }}/detail"
                class="icon open_quickview"
                tabindex="0"
              >
                <i class="icon-search-left"></i>
              </a>
            </div>
          </div>
          <div class="sna_content">
            <a routerLink="/auction/{{ product.id }}/detail">
              <h4>{{ product.commercial_name }}</h4>
            </a>
            <div class="ratprice">
              <div class="price">
                <span class="org_price">{{ product.current_bid }} Bs</span>
                @if(product.base_price != product.current_bid){
                <span class="prev_price">{{ product.base_price }} Bs</span>
                }
              </div>
              <div class="rating">
                <div class="d-flex align-items-center justify-content-start">
                  <div class="rating_star">
                    <span><i class="las la-star"></i></span>
                    <span><i class="las la-star"></i></span>
                    <span><i class="las la-star"></i></span>
                    <span><i class="las la-star"></i></span>
                    <span><i class="las la-star"></i></span>
                  </div>
                  <p class="rating_count">(150)</p>
                </div>
              </div>
            </div>
            <div class="product_adcart">
              <button
                class="default_btn"
                routerLink="/auction/{{ product.id }}/detail"
              >
                Enviar Puja
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>