<!-- footer area -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-md-0">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-12">
            <div class="footer_logo">
              <img
                loading="lazy"
                src="assets/images/alianza/logo_2.png"
                alt="easy shop"
                style="width: 150px; height: 75px"
              />
            </div>
            <div class="footet_text">
              <p>
                Somos actualmente un grupo asegurador sólido y consolidado, en
                constante desarollo e innovación y la mejor opción para
                satisfacer las necesidades de protección de nuestros clientes.
              </p>
            </div>
          </div>
          <!--
          <div class="col-12 col-md-6 col-lg-12">
            <div class="footer_newslet">
              <h4>Newsletter</h4>
              <form class="footernews_form">
                <input type="text" placeholder="Your email address" />
                <button type="submit" class="default_btn">Subscribe</button>
              </form>
            </div>
          </div>
          -->
        </div>
      </div>
      <div class="col-lg-4 mb-3 mb-md-0">
        <div class="row">
          <div class="col-6">
            <div class="footer_menu">
              <h4 class="footer_title">Mi Cuenta</h4>
              <a routerLink="/profile">Perfil</a>
              <a routerLink="/auction/proposer">Mis Subastas</a>
              <a routerLink="/notification">Mis Notificaciones</a>
              <!--
              <a href="#">Manage Account</a>
              <a href="return-order.html">Return Order</a>
              -->
            </div>
          </div>
          <!--
          <div class="col-6">
            <div class="footer_menu">
              <h4 class="footer_title">Information</h4>
              <a href="about-us.html">About Us</a>
              <a href="return-policy.html">Return Policy</a>
              <a href="terms-condition.html">Terms & condition</a>
              <a href="privacy-policy.html">Privacy Policy</a>
              <a href="faq.html">FAQ</a>
            </div>
          </div>
          -->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer_download">
          <div class="row">
            <div class="col-lg-6 col-lg-12">
              <h4 class="footer_title">Contacto</h4>
              <div class="footer_contact">
                <p>
                  <span class="icn"><i class="las la-map-marker-alt"></i></span>
                  AV.ROCA Y CORONADO Nº.1380 ESQ.CALLE MARIO GUTIERREZ (3ER. ANILLO EXTERNO) <br />
                  Santa Cruz de la Sierra - <a href="https://www1.alianza.com.bo/#!/office">Ver más.. </a>
                </p>
                <p class="phn">
                  <span class="icn"><i class="las la-phone"></i></span>
                  800-10-6622
                </p>
                <p class="eml">
                  <span class="icn"><i class="lar la-envelope"></i></span>
                  info&#64;alianzaseguros.com
                </p>
              </div>
            </div>
            <div class="footer_social col-lg-6 col-lg-12">
              <div class="footer_icon d-flex">
                <a href="https://www.facebook.com/AlianzaSegurosyReaseguros" class="facebook"
                  ><i class="lab la-facebook-f"></i
                ></a>
                <a href="https://www.instagram.com/alianzagrupoasegurador/" class="instagram"
                  ><i class="lab la-instagram"></i
                ></a>
                <!--
                <a href="#" class="twitter"><i class="lab la-twitter"></i></a>
                -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- copyright -->
<div class="copyright_wrap">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-1">
        <img
          loading="lazy"
          src="assets/images/alianza/logo-white.png"
          alt="payment method"
          style="width: 30px; height: 30px"
        />
      </div>
      <div class="col-md-6">
        <p class="copyright_text">Alianza - Aseguradora</p>
      </div>

      <!--
      <div class="col-md-6">
        <div class="payment_method">
          <img
            loading="lazy"
            src="assets/images/payment-method.png"
            alt="payment method"
          />
        </div>
      </div>
          -->
    </div>
  </div>
</div>
