<!-- top header -->
<header class="home-2 d-none d-lg-block">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="logo">
                <a href="index-1.html">
                    <img loading="lazy" src="assets/images/svg/logo.svg" alt="logo">
                </a>
            </div>

            <ul class="nav_bar flex-grow-1">
                <li class="withsubs">
                    <a href="index-1.html">Home <span><i class="las la-angle-down"></i></span></a>
                    <ul class="subnav">
                        <li><a href="index-1.html">Home page 1 </a></li>
                        <li><a href="index-2.html">Home page 2</a></li>
                        <li><a href="index-3.html">Home page 3</a></li>
                    </ul>
                </li>
                <li class="withsubs">
                    <a href="shop-list.html">Shop <span><i class="las la-angle-down"></i></span></a>
                    <ul class="subnav">
                        <li><a href="shop-list.html">List view </a></li>
                        <li><a href="shop-grid.html">Grid view</a></li>
                        <li><a href="shop-grid-2.html">Grid view 2</a></li>

                        <li><a href="shopping-cart.html">Shopping cart</a></li>
                        <li><a href="product-view.html">Product view</a></li>
                    </ul>
                </li>
                <li class="withsubs">
                    <a href="shop-list.html">Pages <span><i class="las la-angle-down"></i></span></a>
                    <div class="subnav py-3 px-2 d-flex gx-4">
                        <div class="single_subnav">
                            <h5 class="text_lg ps-3 mb-2">Others pages</h5>
                            <ul>
                                <li><a href="about-us.html">About us</a></li>
                                <li><a href="contact-us.html">Contact us</a></li>

                                <li><a href="track-order.html">Track order</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </div>
                        <div class="single_subnav">
                            <h5 class="text_lg ps-3 mb-2">Account pages</h5>
                            <ul>
                                <li><a href="account.html">My Account</a></li>
                                <li><a href="login.html">Login</a></li>
                                <li><a href="register.html">Register</a></li>
                                <li><a href="forgot-password.html">Forgot password</a></li>
                            </ul>
                        </div>
                        <div class="single_subnav">
                            <h5 class="text_lg ps-3 mb-2">Checkout page</h5>
                            <ul>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="payment.html">Payment</a></li>
                                <li><a href="wish-list.html">Wishlist</a></li>
                                <li><a href="order-completed.html">Order complete</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="contact-us.html">contact</a></li>
                <li class="tophead_items ms-auto">
                    <div class="me-3">
                        <a class="text-semibold me-0" href="login.html">login</a><span class="text_xs">/</span><a
                            class="text-semibold" href="register.html">Register</a>
                    </div>
                    <div>
                        <select class="nice_select">
                            <option>Language</option>
                            <option>English</option>
                            <option>Franch</option>
                        </select>
                    </div>
                    <div class="ms-3">
                        <select class="nice_select">
                            <option>Currency</option>
                            <option>Dollar</option>
                            <option>Euro</option>
                        </select>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</header>