<!-- features area -->
<section class="features_area section_padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row justify-content-center gx-2 gx-md-4">
          <div class="col-sm-4 mb-3 mb-sm-0">
            <div
              class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center"
            >
              <div class="feature_icon">
                <img
                  loading="lazy"
                  src="assets/images/svg/delivery-van.svg"
                  alt="icon"
                />
              </div>
              <div class="feature_content">
                <h4>Free shipping</h4>
                <p>Orders over $200</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
            <div
              class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center"
            >
              <div class="feature_icon">
                <img
                  loading="lazy"
                  src="assets/images/svg/money-back.svg"
                  alt="icon"
                />
              </div>
              <div class="feature_content">
                <h4>Money Returns</h4>
                <p>30 Days money return</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div
              class="single_feature d-flex flex-column flex-sm-row align-items-center justify-content-center"
            >
              <div class="feature_icon">
                <img
                  loading="lazy"
                  src="assets/images/svg/service-hours.svg"
                  alt="icon"
                />
              </div>
              <div class="feature_content">
                <h4>24/7 Support</h4>
                <p>Customer support</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
