<!-- top ranking -->
<section class="top_ranking section_padding_b">
  <div class="container">
    <h2 class="section_title_2 mb-0">Productos del mes de Febrero</h2>
    <div class="row">
      @for (product of products; track $index) {
      <div class="col-xl-3 col-lg-4 col-6">
        <h4 class="single_topr_title"></h4>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a routerLink="/auction/{{ product.id }}/detail">
              <img
                loading="lazy"
                src="{{ url_base + product.images[0] }}"
                alt="product"
              />
            </a>
          </div>
          <div class="topr_content">
            <a routerLink="/auction/{{product.id}}/detail">
              <h4>{{ product.commercial_name }}</h4>
            </a>
            <div class="price">
              <h4>{{ product.category }}</h4>
            </div>
            <div class="price">
              <span class="org_price">{{ product.current_bid }} Bs.</span>
              @if(product.base_price != product.current_bid){
              <span class="prev_price">{{ product.base_price }} Bs.</span>
              }
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>
