<!-- top ranking -->
<section class="top_ranking section_padding_b">
  <div class="container">
    <h2 class="section_title_2 mb-0">Top Ranking</h2>
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-6">
        <h4 class="single_topr_title">Watch</h4>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/apple-watch.png"
                alt="product"
              />
            </a>
            <span class="tag">1</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Apple Watch</h4>
            </a>
            <div class="price">
              <span class="org_price">$200.00</span>
              <span class="prev_price">$300.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/watch2.png"
                alt="product"
              />
            </a>
            <span class="tag">2</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Callie Smartwatch</h4>
            </a>
            <div class="price">
              <span class="org_price">$150.00</span>
              <span class="prev_price">$200.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/watch3.png"
                alt="product"
              />
            </a>
            <span class="tag">3</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Cruz Smartwatch</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <h4 class="single_topr_title">Mobile</h4>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/phone-1.png"
                alt="product"
              />
            </a>
            <span class="tag">1</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Xiaomi Note 7</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/phone-2.png"
                alt="product"
              />
            </a>
            <span class="tag">2</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>iPhone 11 max</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/phone-3.png"
                alt="product"
              />
            </a>
            <span class="tag">3</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Oppo poco f1</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6">
        <h4 class="single_topr_title">Laptop</h4>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/laptop-1.png"
                alt="product"
              />
            </a>
            <span class="tag">1</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Dell inspire 14</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/laptop-2.png"
                alt="product"
              />
            </a>
            <span class="tag">2</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>HP Omen 13</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/laptop-3.png"
                alt="product"
              />
            </a>
            <span class="tag">3</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>HP Pavilion 15</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-6 d-lg-none d-block d-xl-block">
        <h4 class="single_topr_title">Headphones</h4>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/headphone-1.png"
                alt="product"
              />
            </a>
            <span class="tag">1</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Bose Headphones</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/headphone-2.png"
                alt="product"
              />
            </a>
            <span class="tag">2</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>COWIN E7 Active</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="single_top_ranking">
          <div class="topr_img">
            <a href="product-view.html">
              <img
                loading="lazy"
                src="assets/images/headphone-3.png"
                alt="product"
              />
            </a>
            <span class="tag">3</span>
          </div>
          <div class="topr_content">
            <a href="product-view.html">
              <h4>Beats Headphones</h4>
            </a>
            <div class="price">
              <span class="org_price">$45.00</span>
              <span class="prev_price">$55.45</span>
            </div>
            <div class="rating">
              <div class="d-flex align-items-center justify-content-start">
                <div class="rating_star">
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                  <span><i class="las la-star"></i></span>
                </div>
                <p class="rating_count">(150)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
