<!-- download app -->
<section class="download_wrap section_padding_b">
    <div class="container">
      <div class="download_bg">
        <div class="row">
          <div class="col-lg-6">
            <div class="download_left">
              <img
                loading="lazy"
                src="assets/images/alianza/3.jpg"
                class="w-100"
              />
            </div>
          </div>
          <div class="col-lg-5 px-5 px-lg-0">
            <div class="download_cont">
              <h2 class="title_2 text-capitalize mb-3">
                Download RAFCART App Now!
              </h2>
              <p class="mb-4">
                Shopping fastly and easily more with our app. Get a link to
                <br class="d-none d-xl-block" />
                download the app on your phone
              </p>
              <form action="#" class="subscribe_form">
                <input type="text" placeholder="Email Address" />
                <button type="submit">Subscribe</button>
              </form>
              <div class="download_links">
                <a href="#" class="me-3">
                  <img
                    loading="lazy"
                    src="assets/images/download-1.png"
                    alt="download"
                  />
                </a>
                <a href="#">
                  <img
                    loading="lazy"
                    src="assets/images/download-2.png"
                    alt="download"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>