<!-- shop list view -->
<div class="shop_wrap section_padding_b">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 position-relative">
        <div class="filter_box py-3 px-3 shadow_sm">
          <div class="close_filter d-block d-lg-none">
            <i class="las la-times"></i>
          </div>
          <div class="shop_filter d-block d-sm-none">
            <h4 class="filter_title">Sort by</h4>
            <div class="sorting_filter mb-2">
              <select class="nice_select" [(ngModel)]="filters.sort">
                <option value="">Seleccione una opción</option>
                @for (sort of sorts; track $index) {
                <option value="{{ $index }}">{{ sort }}</option>
                }
              </select>
            </div>
          </div>

          <div class="shop_filter">
            <h4 class="filter_title">Categorias</h4>
            <div class="filter_list">
              @for (category of categories; track $index) {
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="cat-{{ $index }}"
                  hidden
                  name="category"
                  [(ngModel)]="filters.category"
                  value="{{ category }}"
                />
                <label for="cat-{{ $index }}">{{ category }}</label>
                <!--
                  <p class="mb-0 ms-auto">(16)</p>
                  -->
              </div>
              }
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="cat-all"
                  hidden
                  name="category"
                  [(ngModel)]="filters.category"
                  value=""
                  checked
                />
                <label for="cat-all">todos</label>
                <!--
                  <p class="mb-0 ms-auto">(16)</p>
                  -->
              </div>
              <!--
              <div class="custom_check d-flex align-items-center">
                <input type="checkbox" class="check_inp" hidden id="cat-men" />
                <label for="cat-men">Men</label>
                <p class="mb-0 ms-auto">(9)</p>
              </div>
              <div class="custom_check d-flex align-items-center">
                <input
                  type="checkbox"
                  class="check_inp"
                  hidden
                  id="cat-shoes"
                />
                <label for="cat-shoes">Shoes</label>
                <p class="mb-0 ms-auto">(19)</p>
              </div>
              <div class="custom_check d-flex align-items-center">
                <input
                  type="checkbox"
                  class="check_inp"
                  hidden
                  id="cat-computer"
                />
                <label for="cat-computer">Computer</label>
                <p class="mb-0 ms-auto">(35)</p>
              </div>
              -->
            </div>
          </div>
          <div class="shop_filter">
            <h4 class="filter_title">Mes</h4>
            <div class="filter_list">
              @for (month of months; track $index) {
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="bnd-{{ $index }}"
                  hidden
                  [(ngModel)]="filters.month"
                  value="{{ $index + 1 }}"
                  name="month"
                />
                <label for="bnd-{{ $index }}">{{ month }}</label>
              </div>
              }
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="bnd-all"
                  hidden
                  [(ngModel)]="filters.month"
                  value=""
                  name="month"
                />
                <label for="bnd-all">todos</label>
              </div>
              <!--
              <div class="custom_check d-flex align-items-center">
                <input type="checkbox" class="check_inp" hidden id="bnd-nike" />
                <label for="bnd-nike">Nike</label>
              </div>
              <div class="custom_check d-flex align-items-center">
                <input type="checkbox" class="check_inp" hidden id="bnd-easy" />
                <label for="bnd-easy">Easy</label>
              </div>
              <div class="custom_check d-flex align-items-center">
                <input
                  type="checkbox"
                  class="check_inp"
                  hidden
                  id="bnd-arong"
                />
                <label for="bnd-arong">Arong</label>
              </div>
              -->
            </div>
          </div>
          <div class="shop_filter">
            <h4 class="filter_title">Año</h4>
            <div class="filter_list">
              @for (year of years; track $index) {
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="year-{{ $index }}"
                  hidden
                  name="year"
                  [(ngModel)]="filters.year"
                  value="{{ year }}"
                />
                <label for="year-{{ $index }}">{{ year }}</label>
              </div>
              }
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="year-all"
                  hidden
                  name="year"
                  [(ngModel)]="filters.year"
                  value=""
                />
                <label for="year-all">todos</label>
              </div>
            </div>
          </div>
          <div class="shop_filter">
            <h4 class="filter_title">Estado</h4>
            <div class="filter_list">
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="state-2"
                  hidden
                  name="state"
                  [(ngModel)]="filters.state"
                  value="2"
                />
                <label for="state-2">Iniciado</label>
              </div>
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="state-3"
                  hidden
                  name="state"
                  [(ngModel)]="filters.state"
                  value="3"
                />
                <label for="state-3">Finalizado</label>
              </div>
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="state-5"
                  hidden
                  name="state"
                  [(ngModel)]="filters.state"
                  value="5"
                />
                <label for="state-5">Cancelado</label>
              </div>
              <div class="custom_check d-flex align-items-center">
                <input
                  type="radio"
                  class="check_inp"
                  id="state-all"
                  hidden
                  name="state"
                  [(ngModel)]="filters.state"
                  value=""
                />
                <label for="state-all">todos</label>
              </div>
            </div>
          </div>
          <!--
          <div class="shop_filter">
            <h4 class="filter_title">Price</h4>
            <div class="price-range-slider">
              <div id="slider-range" class="range-bar"></div>
              <p class="range-value">
                <input type="text" id="amount" readonly />
              </p>
            </div>
          </div>
          <div class="shop_filter">
            <h4 class="filter_title">Año</h4>
            <div class="size_selector d-flex">
              <div class="single_size_opt">
                <input
                  type="radio"
                  hidden
                  name="size"
                  class="size_inp"
                  id="size-xs"
                />
                <label for="size-xs">XS</label>
              </div>
              <div class="single_size_opt ms-2">
                <input
                  type="radio"
                  hidden
                  name="size"
                  class="size_inp"
                  id="size-s"
                />
                <label for="size-s">S</label>
              </div>
              <div class="single_size_opt ms-2">
                <input
                  type="radio"
                  hidden
                  name="size"
                  class="size_inp"
                  id="size-m"
                  checked
                />
                <label for="size-m">M</label>
              </div>
              <div class="single_size_opt ms-2">
                <input
                  type="radio"
                  hidden
                  name="size"
                  class="size_inp"
                  id="size-l"
                />
                <label for="size-l">L</label>
              </div>
              <div class="single_size_opt ms-2">
                <input
                  type="radio"
                  hidden
                  name="size"
                  class="size_inp"
                  id="size-xl"
                />
                <label for="size-xl">XL</label>
              </div>
            </div>
          </div>
          <div class="shop_filter border-bottom-0 pb-0 mb-0">
            <h4 class="filter_title">Color</h4>
            <div class="size_selector color_selector d-flex align-items-center">
              <div class="single_size_opt">
                <input
                  type="radio"
                  hidden
                  name="color"
                  class="size_inp"
                  id="color-purple"
                />
                <label
                  for="color-purple"
                  class="bg-color"
                  data-bs-toggle="tooltip"
                  title="Rose Red"
                ></label>
              </div>
              <div class="single_size_opt ms-2">
                <input
                  type="radio"
                  hidden
                  name="color"
                  class="size_inp"
                  id="color-red"
                />
                <label
                  for="color-red"
                  class="bg-white"
                  data-bs-toggle="tooltip"
                  title="White"
                ></label>
              </div>
              <div class="single_size_opt ms-2">
                <input
                  type="radio"
                  hidden
                  name="color"
                  class="size_inp"
                  id="color-green"
                  checked
                />
                <label
                  for="color-green"
                  class="bg-dark"
                  data-bs-toggle="tooltip"
                  title="Black"
                ></label>
              </div>
            </div>
          </div>
          -->
        </div>
      </div>
      <div class="col-xl-9 col-lg-8">
        <div class="d-flex align-items-center">
          <div class="d-block d-lg-none">
            <button
              class="default_btn py-2 me-3 rounded"
              id="mobile_filter_btn"
            >
              Filter
            </button>
          </div>
          <div class="sorting_filter d-none d-sm-block">
            <select class="form-select" [(ngModel)]="filters.sort">
              <option value="">Seleccione una opción</option>
              @for (sort of sorts; track $index) {
              <option value="{{ $index }}">{{ sort }}</option>
              }
            </select>
          </div>
          <div class="view_filter d-flex align-items-center ms-auto">
            <a href="shop-grid.html">
              <div class="view_icon"><i class="icon-grid"></i></div>
            </a>
            <a href="shop-list.html">
              <div class="view_icon active"><i class="las la-list-ul"></i></div>
            </a>
          </div>
        </div>
        <div class="shop_products">
          <div class="list_view_products">
            <div
              class="single_list_product"
              *ngFor="
                let product of products
                  | filterProduct
                    : filters.category
                    : filters.month
                    : filters.year
                    : filters.search
                    : filters.sort
                    : filters.state
                  | paginate : { itemsPerPage: 5, currentPage: page }
              "
            >
              <div class="row">
                <div class="col-md-4">
                  <div class="list_product_img">
                    <div class="lp_img">
                      <a href="product-view.html">
                        <img
                          loading="lazy"
                          src="{{ url_base + product.images[0] }}"
                          alt="product"
                        />
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="product_content">
                    <a routerLink="/auction/{{ product.id }}/detail">
                      <h5>{{ product.commercial_name }}</h5>
                    </a>
                    <div class="ratprice">
                      <div class="price">
                        <span class="org_price"
                          >{{ product.current_bid }} Bs</span
                        >
                        @if(product.base_price != product.current_bid){
                        <span class="prev_price"
                          >{{ product.base_price }} Bs</span
                        >
                        }
                      </div>
                      <div class="rating">
                        <div
                          class="d-flex align-items-center justify-content-start"
                        >
                          <!--
                          <div class="rating_star">
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                            <span><i class="las la-star"></i></span>
                          </div>
                          <p class="rating_count">(150)</p>
                          -->
                        </div>
                      </div>
                      <div class="product_other_info mt-1">
                        <app-countdown-timer
                            [endDate]="product.end_date"
                          ></app-countdown-timer>
                      </div>
                      <div class="product_other_info mt-1">
                        <p><span>Categoria:</span>{{ product?.category }}</p>
                      </div>
                    </div>
                    <p class="product_list_desc">
                      {{ product.observation }}
                    </p>
                    <div
                      class="product_list_btns"
                      routerLink="/auction/{{ product.id }}/detail"
                    >
                      <button class="list_product_btn">
                        <span class="icon"><i class="fa fa-gavel"></i></span>
                        Pujar
                      </button>
                      <!--
                        <button class="list_product_btn wish">
                          <span class="icon"><i class="icon-heart"></i></span>
                          Wishlist
                        </button>
                        -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="pagination_wrp d-flex align-items-center justify-content-center"
        >
          <pagination-controls
            class="my-pagination"
            (pageChange)="page = $event"
            previousLabel="Anterior"
            nextLabel="Siguiente"
          ></pagination-controls>
          <!--
          <div class="single_paginat active">1</div>
          <div class="single_paginat">2</div>
          <div class="single_paginat">3</div>
          <div class="single_paginat">4</div>
          <div class="single_paginat">
            <i class="las la-long-arrow-alt-right"></i>
          </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>
