<!--Login wrap-->
<div class="register_wrap section_padding_b">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-7 col-md-9">
        <div class="register_form padding_default shadow_sm">
          <h4 class="title_2">Cambiar Contraseña</h4>
          <p class="mb-4 text_md">Ingresa tu nueva contraseña</p>
          <form [formGroup]="passwordForm">
            <div class="row">
              <div class="col-12">
                <div class="single_billing_inp">
                  <label>Contraseña <span>*</span></label>
                  <input
                    type="password"
                    placeholder="Ingrese su Nueva Contraseña"
                    formControlName="password"
                  />
                  <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
                  <div
                    *ngIf="
                      passwordForm.get('password')?.invalid &&
                      (passwordForm.get('password')?.dirty ||
                        passwordForm.get('password')?.touched)
                    "
                  >
                    <div
                      *ngIf="passwordForm.get('password')?.errors?.['required']"
                      class="error text-danger"
                    >
                      Ingrese su Nueva Contraseña
                    </div>
                    <div
                      *ngIf="passwordForm.get('password')?.errors?.['minlength']"
                      class="error text-danger"
                    >
                      La Contraseña debe tener al menos 6 caracteres
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="single_billing_inp">
                  <label>Confirmar Contraseña <span>*</span></label>
                  <input
                    type="password"
                    placeholder="Ingrese su Nueva Contraseña"
                    formControlName="password_confirmation"
                  />
                  <!-- Mostrar mensaje de error si el campo es inválido y se ha tocado -->
                  <div
                    *ngIf="
                      passwordForm.get('password_confirmation')?.invalid &&
                      (passwordForm.get('password_confirmation')?.dirty ||
                        passwordForm.get('password_confirmation')?.touched)
                    "
                  >
                    <div
                      *ngIf="passwordForm.get('password_confirmation')?.errors?.['required']"
                      class="error text-danger"
                    >
                      Ingrese su Nueva Contraseña
                    </div>
                    <div
                      *ngIf="passwordForm.get('password_confirmation')?.errors?.['minlength']"
                      class="error text-danger"
                    >
                      La Contraseña debe tener al menos 6 caracteres
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="col-12 mt-2 d-flex justify-content-between align-items-center"
              >
                <div class="custom_check check_2 d-flex align-items-center">
                  <input
                    type="checkbox"
                    class="check_inp"
                    hidden
                    id="save-default"
                  />
                </div>
                <!--

                <a routerLink="/forgot-password/send-email" class="text-color"
                  >Olvido su Contraseña?</a
                >
                -->
              </div>
              <div class="col-12 mt-3">
                <button
                  (click)="setPassword()"
                  class="default_btn xs_btn rounded px-4 d-block w-100"
                >
                  Actualizar Contraseña
                </button>
              </div>
            </div>
          </form>

          <div class="dif_regway my-3">
            <span class="txt"></span>
            <!--Or login in with-->
          </div>
          <!--
            <div class="d-flex">
              <button
                class="default_btn xs_btn rounded px-4 d-block w-50 text-capitalize bg-facebook"
              >
                <i class="fab fa-facebook-f me-2"></i> Facebook
              </button>
              <button
                class="default_btn xs_btn rounded px-4 d-block w-50 ms-3 text-capitalize bg-google"
              >
                <i class="fab fa-google me-2"></i> Google
              </button>
            </div>
  
            <p class="text-center mt-3 mb-0">
              ¿No tienes una cuenta?
              <a routerLink="/register" class="text-color">Registrarse Ahora</a>
            </p>
            -->
        </div>
      </div>
    </div>
  </div>
</div>
